# Long-term international migration 2.04, main reason for migration

In [30]:
from gssutils import *
from databaker.framework import *

def left(s, amount):
    return s[:amount]

def right(s, amount):
    return s[-amount:]

def mid(s, offset, amount):
    return s[offset:offset+amount]

scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/' \
                  'longterminternationalmigrationmainreasonformigrationtable204')
scraper

## Long-term international migration 2.04, main reason for migration, UK and England and Wales

The primary purpose of migrants entering or leaving UK. Estimates of Long-Term International Migration, annual table.

### Distributions

1. Long-term international migration 2.04, main reason for migration, UK and England and Wales ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/longterminternationalmigrationmainreasonformigrationtable204/current/2.04ltimmainreasonformigration1991to2017.xls))

In [31]:
tabs = scraper.distributions[0].as_databaker()

for i in tabs:
    print(i.name)

Contents and Notes
Table 2.04
Chart 2.04 TS

In [32]:
tidied_sheets = []

for tab in tabs:
    if not tab.name.startswith('Table 2.04'):
        continue

    year = tab.filter("Year").expand(DOWN).regex(r'[0-9]{4}(\.0)?').is_not_blank()
    obs = tab.filter("Year").fill(RIGHT).is_not_blank() | tab.filter("Year").shift(DOWN).fill(RIGHT).is_not_blank()
    flow = tab.filter("Year").expand(DOWN).one_of(['Inflow', 'Outflow'])
    reason = tab.filter("Year").expand(RIGHT).is_not_blank()
    reason2 = tab.filter("Year").shift(DOWN).fill(RIGHT).is_not_blank()
    geography = tab.filter("Year").expand(DOWN).one_of(['United Kingdom', 'England and Wales'])
    
    observations = year.fill(RIGHT) & obs.fill(DOWN) 
    observations_ci = observations.shift(RIGHT)
    
    dimensions = [
            HDim(year, 'Year', CLOSEST, ABOVE),
            HDim(flow, 'Migration Flow', CLOSEST, ABOVE),
            HDim(geography, 'Geography', CLOSEST, ABOVE),
            HDim(reason, 'Reason for Migration', CLOSEST, LEFT),
            HDimConst('Unit','People (thousands)'),
            HDim(observations_ci, 'CI', DIRECTLY, RIGHT),
            HDimConst('Measure Type', 'Count'),
            HDim(reason2, 'Reason2', CLOSEST, LEFT)
    ]
    
    tidy_sheet = ConversionSegment(tab, dimensions, observations)
    savepreviewhtml(tidy_sheet, fname="Preview.html")
    
    tidied_sheets.append(tidy_sheet.topandas())
    
import pandas as pd

df = pd.concat(tidied_sheets, ignore_index = True).fillna('')
df['Year'] = df.apply(lambda x: int(float(x['Year'])), axis = 1)
df['Reason for Migration'] = df.apply(lambda x: x['Reason for Migration'][:-1] if x['Reason for Migration'].endswith('2') else x['Reason for Migration'], axis = 1)
df['Reason for Migration'] = df.apply(lambda x: x['Reason for Migration'] if x['Reason2'] == '' else x['Reason for Migration'] + ' - ' + x['Reason2'], axis = 1)
df['Reason for Migration'] = df.apply(lambda x: x['Reason for Migration'][:-1] if x['Reason for Migration'].endswith('1') else x['Reason for Migration'], axis = 1)
df = df.drop(['Reason2'], axis = 1)
df.rename(columns={'OBS':'Value',
                   'DATAMARKER':'IPS Marker'}, 
                   inplace=True)
df

tablepart 'Table 2.04' written #injblock1005
javascript calculated

/Users/Jon/ONS-LTIM-Reason-for-Migration/Preview.html

,Value,IPS Marker,Year,Migration Flow,Geography,Reason for Migration,Unit,CI,Measure Type
0,329,,1991,Inflow,United Kingdom,All reasons,People (thousands),23.0,Count
1,71,,1991,Inflow,United Kingdom,Work related - All,People (thousands),10.0,Count
2,50,,1991,Inflow,United Kingdom,Work related - Definite job,People (thousands),9.0,Count
3,21,,1991,Inflow,United Kingdom,Work related - Looking for work,People (thousands),4.0,Count
4,90,,1991,Inflow,United Kingdom,Accompany / join - Looking for work,People (thousands),14.0,Count
5,56,,1991,Inflow,United Kingdom,Formal study - Looking for work,People (thousands),10.0,Count
6,67,,1991,Inflow,United Kingdom,Other - Looking for work,People (thousands),7.0,Count
7,45,,1991,Inflow,United Kingdom,No reason stated - Looking for work,People (thousands),9.0,Count
8,268,,1992,Inflow,United Kingdom,All reasons,People (thousands),20.0,Count
9,76,,1992,Inflow,United Kingdom,Work related - All,People (thousands),10.0,Count
10,48,,1992,Inflow,United Kingdom,Work related - Definite job,People (thousands),9.0,Count
11,28,,1992,Inflow,United Kingdom,Work related - Looking for work,People (thousands),4.0,Count
12,76,,1992,Inflow,United Kingdom,Accompany / join - Looking for work,People (thousands),12.0,Count
13,42,,1992,Inflow,United Kingdom,Formal study - Looking for work,People (thousands),8.0,Count
14,45,,1992,Inflow,United Kingdom,Other - Looking for work,People (thousands),4.0,Count
15,30,,1992,Inflow,United Kingdom,No reason stated - Looking for work,People (thousands),9.0,Count
16,266,,1993,Inflow,United Kingdom,All reasons,People (thousands),19.0,Count
17,83,,1993,Inflow,United Kingdom,Work related - All,People (thousands),10.0,Count
18,48,,1993,Inflow,United Kingdom,Work related - Definite job,People (thousands),8.0,Count
19,36,,1993,Inflow,United Kingdom,Work related - Looking for work,People (thousands),6.0,Count
20,74,,1993,Inflow,United Kingdom,Accompany / join - Looking for work,People (thousands),10.0,Count
21,50,,1993,Inflow,United Kingdom,Formal study - Looking for work,People (thousands),9.0,Count
22,37,,1993,Inflow,United Kingdom,Other - Looking for work,People (thousands),3.0,Count
23,21,,1993,Inflow,United Kingdom,No reason stated - Looking for work,People (thousands),6.0,Count
24,315,,1994,Inflow,United Kingdom,All reasons,People (thousands),23.0,Count
25,113,,1994,Inflow,United Kingdom,Work related - All,People (thousands),15.0,Count
26,58,,1994,Inflow,United Kingdom,Work related - Definite job,People (thousands),11.0,Count
27,56,,1994,Inflow,United Kingdom,Work related - Looking for work,People (thousands),11.0,Count
28,78,,1994,Inflow,United Kingdom,Accompany / join - Looking for work,People (thousands),12.0,Count
29,51,,1994,Inflow,United Kingdom,Formal study - Looking for work,People (thousands),9.0,Count
...,...,...,...,...,...,...,...,...,...
834,-99,,2014,Outflow,England and Wales,Work related - Definite job,People (thousands),10.0,Count
835,-63,,2014,Outflow,England and Wales,Work related - Looking for work,People (thousands),11.0,Count
836,-25,,2014,Outflow,England and Wales,Accompany / join - Looking for work,People (thousands),5.0,Count
837,-20,,2014,Outflow,England and Wales,Formal study - Looking for work,People (thousands),5.0,Count
838,-35,,2014,Outflow,England and Wales,Other - Looking for work,People (thousands),7.0,Count
839,-42,,2014,Outflow,England and Wales,No reason stated - Looking for work,People (thousands),11.0,Count
840,-272,,2015,Outflow,England and Wales,All reasons,People (thousands),20.0,Count
841,-152,,2015,Outflow,England and Wales,Work related - All,People (thousands),13.0,Count
842,-90,,2015,Outflow,England and Wales,Work related - Definite job,People (thousands),10.0,Count
843,-62,,2015,Outflow,England and Wales,Work related - Looking for work,People (thousands),9.0,Count
844,-24,,2015,Outflow,England and Wales,Accompany / join - Looking for work,People (thousands),6.0,Count
845,-23,,2015,Outflow,England and Wales,Formal study - Looking for work,People (thousands),5.0,Count
846,-28,,2015,Outflow,England and Wales,Other - Looking for work,People (thousands),6.0,Count
847,-45,,2015,Outflow,England and Wales,No reason stated - Looking for work,People (thousands),10.0,Count
848,-309,,2016,Outflow,England and Wales,All reasons,People (thousands),22.0,Count
849,-164,,2016,Outflow,England and Wales,Work related - All,People (thousands),14.0,Count
850,-107,,2016,Outflow,England and Wales,Work related - Definite job,People (thousands),12.0,Count
851,-58,,2016,Outflow,England and Wales,Work related - Looking for work,People (thousands),8.0,Count
852,-23,,2016,Outflow,England and Wales,Accompany / join - Looking for work,People (thousands),6.0,Count
853,-20,,2016,Outflow,England and Wales,Formal study - Looking for work,People (thousands),5.0,Count
854,-31,,2016,Outflow,England and Wales,Other - Looking for work,People (thousands),5.0,Count
855,-70,,2016,Outflow,England and Wales,No reason stated - Looking for work,People (thousands),14.0,Count
856,-329,,2017,Outflow,England and Wales,All reasons,People (thousands),24.0,Count
857,-176,,2017,Outflow,England and Wales,Work related - All,People (thousands),16.0,Count
858,-118,,2017,Outflow,England and Wales,Work related - Definite job,People (thousands),14.0,Count
859,-58,,2017,Outflow,England and Wales,Work related - Looking for work,People (thousands),9.0,Count
860,-20,,2017,Outflow,England and Wales,Accompany / join - Looking for work,People (thousands),5.0,Count
861,-18,,2017,Outflow,England and Wales,Formal study - Looking for work,People (thousands),4.0,Count
862,-40,,2017,Outflow,England and Wales,Other - Looking for work,People (thousands),7.0,Count
863,-76,,2017,Outflow,England and Wales,No reason stated - Looking for work,People (thousands),16.0,Count

In [33]:
tidy = df[['Geography', 'Year', 'Reason for Migration', 'Migration Flow',
             'Measure Type','Value','CI','Unit','IPS Marker']]
tidy['IPS Marker'] = tidy.apply(lambda x: 'not-available' if x['IPS Marker'] == ':' else x['IPS Marker'], axis = 1)

from IPython.core.display import HTML
for col in tidy:
    if col not in ['Value', 'CI']:
        tidy[col] = tidy[col].astype('category')
        display(HTML(f"<h2>{col}</h2>"))
        display(tidy[col].cat.categories)

Index(['England and Wales', 'United Kingdom'], dtype='object')

Int64Index([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
            2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
            2013, 2014, 2015, 2016, 2017],
           dtype='int64')

Index(['Accompany / join - Looking for work', 'All reasons',
       'Formal study - Looking for work',
       'No reason stated - Looking for work', 'Other - Looking for work',
       'Work related - All', 'Work related - Definite job',
       'Work related - Looking for work'],
      dtype='object')

Index(['Inflow', 'Outflow'], dtype='object')

Index(['Count'], dtype='object')

Index(['People (thousands)'], dtype='object')

Index(['', 'not-available'], dtype='object')

In [34]:
tidy['Geography'] = tidy['Geography'].cat.rename_categories({
    'United Kingdom': 'K02000001',
    'England and Wales': 'K04000001'
})
tidy['Migration Flow'].cat.categories = tidy['Migration Flow'].cat.categories.map(lambda x: pathify(x))

tidy

,Geography,Year,Reason for Migration,Migration Flow,Measure Type,Value,CI,Unit,IPS Marker
0,K02000001,1991,All reasons,inflow,Count,329,23.0,People (thousands),
1,K02000001,1991,Work related - All,inflow,Count,71,10.0,People (thousands),
2,K02000001,1991,Work related - Definite job,inflow,Count,50,9.0,People (thousands),
3,K02000001,1991,Work related - Looking for work,inflow,Count,21,4.0,People (thousands),
4,K02000001,1991,Accompany / join - Looking for work,inflow,Count,90,14.0,People (thousands),
5,K02000001,1991,Formal study - Looking for work,inflow,Count,56,10.0,People (thousands),
6,K02000001,1991,Other - Looking for work,inflow,Count,67,7.0,People (thousands),
7,K02000001,1991,No reason stated - Looking for work,inflow,Count,45,9.0,People (thousands),
8,K02000001,1992,All reasons,inflow,Count,268,20.0,People (thousands),
9,K02000001,1992,Work related - All,inflow,Count,76,10.0,People (thousands),
10,K02000001,1992,Work related - Definite job,inflow,Count,48,9.0,People (thousands),
11,K02000001,1992,Work related - Looking for work,inflow,Count,28,4.0,People (thousands),
12,K02000001,1992,Accompany / join - Looking for work,inflow,Count,76,12.0,People (thousands),
13,K02000001,1992,Formal study - Looking for work,inflow,Count,42,8.0,People (thousands),
14,K02000001,1992,Other - Looking for work,inflow,Count,45,4.0,People (thousands),
15,K02000001,1992,No reason stated - Looking for work,inflow,Count,30,9.0,People (thousands),
16,K02000001,1993,All reasons,inflow,Count,266,19.0,People (thousands),
17,K02000001,1993,Work related - All,inflow,Count,83,10.0,People (thousands),
18,K02000001,1993,Work related - Definite job,inflow,Count,48,8.0,People (thousands),
19,K02000001,1993,Work related - Looking for work,inflow,Count,36,6.0,People (thousands),
20,K02000001,1993,Accompany / join - Looking for work,inflow,Count,74,10.0,People (thousands),
21,K02000001,1993,Formal study - Looking for work,inflow,Count,50,9.0,People (thousands),
22,K02000001,1993,Other - Looking for work,inflow,Count,37,3.0,People (thousands),
23,K02000001,1993,No reason stated - Looking for work,inflow,Count,21,6.0,People (thousands),
24,K02000001,1994,All reasons,inflow,Count,315,23.0,People (thousands),
25,K02000001,1994,Work related - All,inflow,Count,113,15.0,People (thousands),
26,K02000001,1994,Work related - Definite job,inflow,Count,58,11.0,People (thousands),
27,K02000001,1994,Work related - Looking for work,inflow,Count,56,11.0,People (thousands),
28,K02000001,1994,Accompany / join - Looking for work,inflow,Count,78,12.0,People (thousands),
29,K02000001,1994,Formal study - Looking for work,inflow,Count,51,9.0,People (thousands),
...,...,...,...,...,...,...,...,...,...
834,K04000001,2014,Work related - Definite job,outflow,Count,-99,10.0,People (thousands),
835,K04000001,2014,Work related - Looking for work,outflow,Count,-63,11.0,People (thousands),
836,K04000001,2014,Accompany / join - Looking for work,outflow,Count,-25,5.0,People (thousands),
837,K04000001,2014,Formal study - Looking for work,outflow,Count,-20,5.0,People (thousands),
838,K04000001,2014,Other - Looking for work,outflow,Count,-35,7.0,People (thousands),
839,K04000001,2014,No reason stated - Looking for work,outflow,Count,-42,11.0,People (thousands),
840,K04000001,2015,All reasons,outflow,Count,-272,20.0,People (thousands),
841,K04000001,2015,Work related - All,outflow,Count,-152,13.0,People (thousands),
842,K04000001,2015,Work related - Definite job,outflow,Count,-90,10.0,People (thousands),
843,K04000001,2015,Work related - Looking for work,outflow,Count,-62,9.0,People (thousands),
844,K04000001,2015,Accompany / join - Looking for work,outflow,Count,-24,6.0,People (thousands),
845,K04000001,2015,Formal study - Looking for work,outflow,Count,-23,5.0,People (thousands),
846,K04000001,2015,Other - Looking for work,outflow,Count,-28,6.0,People (thousands),
847,K04000001,2015,No reason stated - Looking for work,outflow,Count,-45,10.0,People (thousands),
848,K04000001,2016,All reasons,outflow,Count,-309,22.0,People (thousands),
849,K04000001,2016,Work related - All,outflow,Count,-164,14.0,People (thousands),
850,K04000001,2016,Work related - Definite job,outflow,Count,-107,12.0,People (thousands),
851,K04000001,2016,Work related - Looking for work,outflow,Count,-58,8.0,People (thousands),
852,K04000001,2016,Accompany / join - Looking for work,outflow,Count,-23,6.0,People (thousands),
853,K04000001,2016,Formal study - Looking for work,outflow,Count,-20,5.0,People (thousands),
854,K04000001,2016,Other - Looking for work,outflow,Count,-31,5.0,People (thousands),
855,K04000001,2016,No reason stated - Looking for work,outflow,Count,-70,14.0,People (thousands),
856,K04000001,2017,All reasons,outflow,Count,-329,24.0,People (thousands),
857,K04000001,2017,Work related - All,outflow,Count,-176,16.0,People (thousands),
858,K04000001,2017,Work related - Definite job,outflow,Count,-118,14.0,People (thousands),
859,K04000001,2017,Work related - Looking for work,outflow,Count,-58,9.0,People (thousands),
860,K04000001,2017,Accompany / join - Looking for work,outflow,Count,-20,5.0,People (thousands),
861,K04000001,2017,Formal study - Looking for work,outflow,Count,-18,4.0,People (thousands),
862,K04000001,2017,Other - Looking for work,outflow,Count,-40,7.0,People (thousands),
863,K04000001,2017,No reason stated - Looking for work,outflow,Count,-76,16.0,People (thousands),

In [35]:
out = Path('out')
out.mkdir(exist_ok=True, parents=True)

tidy.drop_duplicates().to_csv('observations.csv', index = False)

In [36]:
from gssutils.metadata import THEME

scraper.dataset.family = 'migration'
scraper.dataset.theme = THEME['population']
with open('dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())